{% extends 'base.html' %}


{% block content %}

<section class="slider" id="home">
    <div class="container-fluid">
        <div class="row">
            <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="header-backup"></div>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div style="background: ghostwhite; 
                                font-size: 20px; 
                                padding: 5px; 
                                border: 1.5px solid lightgray; 
                                margin: 5px;">
                                <h3>
                                    Online doctors see and treat patients virtually using telehealth.
                                    With virtual doctor visits, you can see a doctor online and get medical advice along with necessary prescriptions.
                                    Getting care at home with an online doctor appointment is convenient for social distancing, or if you’re short on time, transportation, or child care. While telehealth can’t replace face-to-face medical care entirely, it can break down barriers to accessing health care.
                                    “Now more than ever, the patient has the ability to manage their healthcare from home with support from healthcare professionals,” says Mitchell Fong, Renown Health director of telehealth. “It is an exciting time for patients and providers alike to extend quality care to patients in the preferred fashion.”<br><br>
                                    Amid the COVID-19 pandemic, choices in online medical services have grown exponentially. We’ve researched the leading online medical services with top-notch care and convenience. Read on to learn about the best online doctor and medical services.  <a href ="http://127.0.0.1:8000/"><button>  Back</button></a>
                                </h3> 
                    </div>         
        </div>
    </div>
</section>




    
{% endblock %}    