


 <html>
    <head>
        <style>
        .city {
          background-color:rgb(127, 137, 244);
          color: white;
          border: 2px solid black;
          margin: 20px;
          padding: 20px;
        }
        </style>
  </head>

  <body>
    <div class="row">
        <div class="col">
            <div class="city">
    
                <form method="GET">
                    {{myfilters.form}}
                <button class="btn btn-primary" type="submit">Search</button>

                
               
              </form>
                       
            </div>
        </div>
        {% for doc in docs %}
      <p>  {{doc}}
        {{doc.price}}
      </p> 
     {% endfor %}

        
    </div>

 </body>
</html> 
