.button4{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:1em;
    box-sizing: content-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:40;
    color:#1b5dd8;
    text-shadow: 0 0.04em 0.04em rgba(26, 104, 128, 0.35);
    text-align:center;
    transition: all 0.2s;
    }
    a.button4:hover{
    border-color: rgb(6, 59, 233);
    }
    @media all and (max-width:30em){
    a.button4{
    display:block;
    margin:0.2em auto;
    }
    }